* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #14120b;
  color: #edecec;
  font-family: "inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1300px;
  height: 52px;
  font-size: 20px;
  line-height: 24px;
  color: #edecec;
  padding: 30px 25px;
}
nav > div {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  margin-right: 35px;
}

nav button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #45453e;
  border-radius: 100px;
  padding: 8px 16px;
  margin-right: 15px;
}
nav button:nth-child(2) {
  background-color: #edecec;
  color: #2d2b26;
  padding: 8px 16px;
  border-radius: 100px;
}
