* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #14120b;
  color: #edecec;
  font-family: "inter", sans-serif;
}

body {
  padding: 10px 20px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1300px;
  font-size: 16px;
  color: #edecec;
}
nav > div {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  font-size: 14px;
}
nav button {
  border: none;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid #45453e;
  border-radius: 100px;
  padding: 4px 10px;
  margin-right: 5px;
}
.cta-button {
  background-color: #edecec;
  color: #2d2b26;
  padding: 4px 10px;
  border-radius: 100px;
  font-size: 15px;
  cursor: pointer;
}

.hero-section {
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 1300px;
}

.hero-text {
  font-size: 26px;
  margin: 20px 0;
  font-weight: 400;
}
.hero-section img {
  border-radius: 5px;
}
.hero-section button {
  border: none;
  border-radius: 100px;
  padding: 12px 32px;
  font-size: 16px;
  margin-bottom: 50px;
}

.trusted-text {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 30px;
}
.trusted-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.trusted-logos img {
  background-color: #1b1913;
  padding: 20px;
  border-radius: 10px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  background-color: #1b1913;
  padding: 30px;
}
.features img {
  border-radius: 5px;
}
.features p {
  font-size: 18px;
  background-color: #1b1913;
  color: #edecec;
  line-height: 25px;
}
.features p span {
  color: #8e8e8e;
  background-color: #1b1913;
}

.features button {
  background-color: #1b1913;
  color: #f54e00;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.features-card h2 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  background-color: #1b1913;
  padding: 10px;
  border-radius: 5px;
}
.card p {
  font-size: 16px;
  font-weight: 400;
  background-color: #1b1913;
  line-height: 25px;
}
.card > div {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #1b1913;
}
.card img {
  border-radius: 5px;
}
.card h3 {
  color: #edecec;
  font-size: 14px;
  font-weight: 400;
  background-color: #1b1913;
}
.card h6 {
  color: #8e8e8e;
}

.frontier h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 400;
}

.frontier-card {
  background-color: #1b1913;
  padding: 10px;
}
.frontier-card h4 {
  color: #edecec;
  margin: 5px 0;
  background-color: #1b1913;
}
.frontier-card p {
  color: #8e8e8e;
  margin: 5px 0;
  line-height: 20px;
  background-color: #1b1913;
}
.frontier-card button {
  color: #f54e00;
  border: none;
  margin: 5px 0;
  font-size: 17px;
}
.frontier-card img {
  margin: 10px 0;
  border-radius: 10px;
}

.frontier-cards {
  display: flex;
  gap: 10px;
}

.Changelog date {
  color: #8e8e8e;
}
.Changelog button {
  color: #8e8e8e;
  border: 1px solid #8e8e8e;
  border-radius: 15px;
  padding: 3px 10px;
}
.Changelog p {
  color: #edecec;
  padding: 10px 5px;
}
.Changelog-cards {
  justify-content: space-between;
}
.Changelog {
  width: 25%;
}
